* {
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%
}

body {
  height: 100vh;

}


.navbar {
  background-color: #bbb;
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

img {
  margin: 5px;
  padding: 3px;
  height: 100px;
  margin: 5px;
  padding: 3px;
}


.navlist {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 3px;

}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 5px;
  padding: 3px;
  height: 16px;
  width: auto;
}


a {
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  color: black;
  width: auto;
}

a:hover {
  background-color: #4bcdfc;
  color: #f9fafc;
}

.button1 {
  padding: 10px;
  background-color: #4bcdfc;
  color: #f9fafc;
  clear: both;
}

.button1:hover {
  background-color: white;
  color: #000;
}

.button2 {
  padding: 10px;
  background-color: #4bcdfc;
  color: #f9fafc;
  clear: both;
}

.button2:hover {
  background-color: #bbb;
  color: #000;
}


p {
  color: black;
  padding: 10px;
}


.maincontainer {
  display: flex;
  justify-content: space-around;
  /* border-color: black; */
  padding: 5px;
}

.mainarticle2 {
  width: 85%;
  height: 600px;
  border-style: solid;
  border-width: 5px;
  border-color: #bbb;
}


.neworder {
  padding-top: 20px;
  padding-left: 15px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #4bcdfc;
  color: white;
  transform: rotateY(180deg);
}




.navlist2 {
  margin: 5px;
  padding: 5px;
}







.navfooter {
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  background-color: #bbb;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  width: 125px;
  margin: 5px;
  padding: 3px;
}


#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:5px;
   /* padding-bottom:60px;   /* Height of the footer */ */
}

#footer {
   position: absolute;
   /* bottom:0; */
   width:100%;
   /* height:60px;   /* Height of the footer */ */
   /* background:#6cf; */
}

.footernav-items {
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  flex: 0 0 50%;
}

.footernav-item {
  color: #000;
}






/* Flex sidenav bar */
.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 0; */
  left: 0;
  background-color: #bbb;
  overflow-x: hidden;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  background-color: #4bcdfc;
  color: #f9fafc;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #4bcdfc;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: lightgrey;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
